* {
    box-sizing: border-box;
}
body{
	font-family: 'Acme', sans-serif;
	margin: 0px;
	background-image: url("../images/Plain-Wallpapers-HD-A42.jpg");
}
.nav-element{
	display: inline-block;
	padding: 0vw 0.5vw;
	color: rgba(255,255,255,0.5);
}
.col-sm-1{
	width: 8.333%;
}
.col-sm-2{
	width: 16.667%;	
}
.col-sm-3{
	width: 25%;
}
.col-sm-4{
	width: 33.333%;
}
.col-sm-5{
	width: 41.667%;
}
.col-sm-6{
	width: 50%;
}
.col-sm-7{
	width: 58.333%;
}
.col-sm-8{
	width: 66.667%;
}
.col-sm-9{
	width: 75%;
}
.col-sm-10{
	width: 83.333%;
}
.col-sm-11{
	width: 91.667%;
}
.col-sm-12{
	width: 100%;
}
img{
	max-width: 100%;
	max-height:  100%;
	display: inline-block;
}

.part{
	display: block;
	margin: 17px;
}
.part img{
	width:200px;
	height:200px;
	transition: transform .2s;
}
.part img:hover{
	transform: scale(1.2); 
}
.links{
	 height:45px;
	 width:45px;
}
.interests{
	display: flex;
	justify-content: center;
	align-items:  center;
	flex-wrap: wrap;
	margin: 40px;
}
.part > p{
	text-align: center;
	font-size: 1.5vw;
}
.skills{
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
}

.sp > p{
	text-align: center;
	font-size: 20px;
}
p {
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.2s linear 0.2s;
}
p:hover{
    border-bottom-color: red;
}
.align{
	display: flex;
    justify-content: space-between;
}
.round{
	border-radius: 100000px;
	border: solid 1px black;
}
th{
	padding-right: 5vw;
	text-align: left;
}
.left{
	position: fixed;
	top:15px;
	left:10px;	
	height:45px;
	width: 45px; 
}
.right{
	position: fixed;
	top: 15px;
	right:10px;	
	height:45px;
	width: 45px; 
}
.profile{
	display: flex;
	flex-direction: column;
	margin:3vw;
	align-items: center;
	text-align: center;
}
.navbar-upper{
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.16);
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #7ACC5C;
}
.navbar-upper:hover{
	box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.20);
}
.navbar-upper h3:hover{
	color:rgba(255,255,255,1);
}
.heading{
	display: inline-block;
	position: relative;
}
.wrapper{
	display: flex;
	margin-bottom: 100px;
	background-image: url("../images/Plain-Wallpapers-HD-A42.jpg");
	background-repeat: no-repeat;
}
abbr{
	text-decoration: none;
}
.sticky{
	width: 83.334%;
	margin-top: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	border-radius: 20px;
	border: solid 1px #eeeeee;
}
#change{
	padding: 3vw;
}
a{
	text-decoration: none !important;
	color:red;
	text-underline-position: 
}
.navbar-lower{
	display: flex;
	padding: 10px 0px;
	background-color: #7ACC5C;
	color:#ffffff;
}
.navbar-lower img{
	float: right;
	margin-left: 20px;
	margin-right: 20px;
	transition: transform .2s;
}
.navbar-lower img:hover {
    transform: scale(1.2); 
}
.info{
	font-size: 2vw;
	display: flex;
	justify-content: center;
}
.info-head{
	padding-left: 7vw;
}
@media only screen and (max-width: 950px) {
}
@media only screen and (max-width: 1900px) {
}

@media only screen and (max-width: 2000px) {
}
